th {
  width: 250px;
  background-color: rgb(117, 117, 117);
}

td {
  text-align: center;
  outline: white 0.000001px solid;
}

tr:nth-child(even) {
  background-color: rgb(0, 0, 0);
}

#inputs {
  display: grid;
  grid-template-columns: repeat(4,250px);
}

p{
  font-size: 24px;
}

table{
  border-collapse: collapse;
}

@media (max-width: 900px){
  #inputs{
    grid-template-columns: repeat(4, 80px);
  }
}